body {
  margin:0% ;
  background-color: rgba(242, 242, 242, 1);
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  }

.Title{
  background-color: rgba(33, 150, 243, 1);
  height: 9%;
}
.material-icons{
  position: absolute;
  left: 90%;
  top: 3%;
  color: white;
}

.depIcons{
  left: 95%;
}

#returnButton {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

#returnButton:hover {
    background-color: #ddd;
    color: black;
  }

#returnButton :previous {
    background-color: #f1f1f1;
    color: black;
  }

#returnButton: round {
    border-radius: 50%;
  }

.t1 {
    margin: 0%;
    color: white;
    font-family:'Roboto';
    font-size: 30px;
    position: absolute;
    left: 2%;
    top: 3%;
}

#main-section {
    border: 1px none;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 15%
}
.section {
    position: absolute;
    width: 30%;
    -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.219607843137255);
}

.left-section {
    border: 1px none;
    height: 100%;
    background-color: white;
    border-radius: 2px;
    left: 5%;

  }
.section-title{
    color: black;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 20px;
    padding-left: 10%;

}
.middle-section {
    border: 1px none;
    height: 100%;
    position: absolute;
    left: 37.5%;
    background-color: white;
    left: 42%;
  }

.right-section {
    border: 1px none;
    height: 40%;
    position: absolute;
    right: 0%;
    background-color: white;
    width: 25%;
    left: 80%;
  }

.Electionslabel,.PartisFederauxlabel,.PartisProvinciauxlabel{
  font-family: 'Arial';
  left: 15%;
  font-size: 16px;
  font-size: smaller;
  margin-block-end: -13px;
 margin-block-start: 40px;
}

.ElectionsSub-label ,.PartisFederauxSub-label,.PartisProvinciauxSub-label{
  font-family: 'Arial';
  left: 15%;
  font-size: 14px;
  color: grey;
}

.radioButton {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioButton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  border: solid 0.2mm grey;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioButton input:checked ~ .checkmark:after {
  display: block;
}

.radioButton .checkmark:after {
  top: 20%;
  left: 20%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: grey;
}
.squarecheckmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: solid 0.2mm grey;
}
.squarecheckmark:after {
  content: "";
  position: absolute;
  display: block;
}
.radioButton input:checked ~ .squarecheckmark:after {
  display: none;
}
.radioButton .squarecheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid  grey;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.validationButton{

  position: absolute;
  left: 5%;
  font-weight: 600;
  background-color: lightgray;
  width: 90%;
  height: 18%;
}

#showButton{
 top: 30%;
}

#compareButton{
 top: 60%;
}

#showPage{
  position: absolute;
  position: absolute;
  left: 8%;
  top: 13%;
  width: 80%;
  height: 100%;
}

#comparePage{
  width: 40%;
  position: absolute;
  left: 50%;
  top: 13%;
}

nav ul{overflow:hidden; overflow-y:scroll;}

.list{
  position: relative;
  left: 0%;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.headerElement{
  box-sizing: border-box;
  width: 100%;
  height: 82px;
  border: solid 1px gray;
  font-family: 'Roboto';
  left padding-left: 2;
}

.textElement{
box-sizing: border-box;
width: 100%;
border: solid 1px gray;
background-color: white;
font-family:"Arial";
padding-left: 2%;
padding-top: 2%;
padding-right: 2%;
padding-bottom: 2%;
}

.starIcon{
  position: relative;
  left: 90%;
  bottom: 90%;
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
  top: -20px;
}

.fa-star {
 color: black;
}

.arrowIcon{
  border: none;
  background-color: lightgray;
}
