body {
  margin:0% ;
  background-color: rgba(242, 242, 242, 1);
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  }

.Title{
  background-color: rgba(33, 150, 243, 1);
  height: 9%;
}
.material-icons{
  position: absolute;
  left: 90%;
  top: 3%;
  color: white;
}

.depIcons{
  left: 95%;
}

.t1 {
    margin: 0%;
    color: white;
    font-family:'Roboto';
    font-size: 30px;
    position: absolute;
    left: 2%;
    top: 3%;
}

#main-section {
    border: 1px none;
    width: 90%;
    height: 80%;
    position: absolute;
    top: 20%
}
.section {
    position: absolute;
    width: 30%;
}

.left-section {
    border: 1px none;
    height: 100%;
    background-color: white;
  }
.section-title{
    color: black;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 20px;

}
.middle-section {
    border: 1px none;
    height: 100%;
    position: absolute;
    left: 37.5%;
    background-color: white;
  }

.right-section {
    border: 1px none;
    height: 40%;
    position: absolute;
    right: 0%;
    background-color: white;
    width: 25%;
  }

.label{
  left: 13%;
  font-size: smaller;
}

.sub-label{
  left: 15%;
  font-size: smaller;
  color: grey;
}

.radioButton {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioButton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  border: solid 0.2mm grey;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioButton input:checked ~ .checkmark:after {
  display: block;
}

.radioButton .checkmark:after {
  top: 20%;
  left: 20%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: grey;
}
.squarecheckmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: solid 0.2mm grey;
}
.squarecheckmark:after {
  content: "";
  position: absolute;
  display: block;
}
.radioButton input:checked ~ .squarecheckmark:after {
  display: none;
}
.radioButton .squarecheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid  grey;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.validationButton{
  position: absolute;
  left: 5%;
  font-weight: 600;
  background-color: lightgray;
  width: 90%;
  height: 18%;
}

#showButton{
 top: 30%;
}

#compareButton{
 top: 60%;
}