body {
  margin:0% ;
  background-color: rgba(242, 242, 242, 1);
  position: relative;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  }

.Title{
  background-color: rgba(33, 150, 243, 1);
  height: 9%;
}
.material-icons{
  position: absolute;
  left: 90%;
  top: 3%;
  color: white;
}

.depIcons{
  left: 95%;
}

.t1 {
    margin: 0%;
    color: white;
    font-family:'Roboto';
    font-size: 30px;
    position: absolute;
    left: 2%;
    top: 3%;
}
  p {
    color:red;
  }


#main-section {
    border: 1px solid brown;
    width: 90%;
    height: 80%;
    position: absolute;
    top: 20%
}
.section {
    position: absolute;
    width: 30%;

}

.left-section {
    border: 1px solid blue;
    height: 100%;
    background-color: white;
  }
.section-title{
    color: black;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 20px;

}
.middle-section {
    border: 1px solid red;
    height: 100%;
    position: absolute;
    left: 35%;
    background-color: white;
  }

.right-section {
    border: 1px solid green;
    height: 100%;
    position: absolute;
    right: 0%;
    background-color: white;
  }

.radio-button {
  background-color: white;
  color: yellowgreen;
}